RulesEngine/Rules.json
[
  {
    "id": "e79f6a59.2fb2c8",
    "type": "tab",
    "label": "Presence",
    "disabled": false,
    "info": ""
  },
  {
    "id": "c04e59c9.cd1ea8",
    "type": "change",
    "z": "e79f6a59.2fb2c8",
    "name": "set JessHome",
    "rules": [
      {
        "t": "set",
        "p": "JessHome",
        "pt": "global",
        "to": "payload=\"ON\"",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 180,
    "wires": [
      [
        "2c155b12.c0db04"
      ]
    ]
  },
  {
    "id": "ddbe782b.edbb88",
    "type": "openhab2-out",
    "z": "e79f6a59.2fb2c8",
    "name": "Jess Home",
    "controller": "76a5baaa.2726a4",
    "itemname": "jess_home",
    "topic": "ItemCommand",
    "payload": "",
    "x": 310,
    "y": 180,
    "wires": [
      [
        "c04e59c9.cd1ea8"
      ]
    ]
  },
  {
    "id": "11e764ca.e2b1fb",
    "type": "openhab2-out",
    "z": "e79f6a59.2fb2c8",
    "name": "Tracy Home",
    "controller": "76a5baaa.2726a4",
    "itemname": "tracy_home",
    "topic": "ItemCommand",
    "payload": "",
    "x": 330,
    "y": 320,
    "wires": [
      [
        "548ce348.36b28c"
      ]
    ]
  },
  {
    "id": "548ce348.36b28c",
    "type": "change",
    "z": "e79f6a59.2fb2c8",
    "name": "set TracyHome",
    "rules": [
      {
        "t": "set",
        "p": "TracyHome",
        "pt": "global",
        "to": "payload=\"ON\"",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 320,
    "wires": [
      [
        "1c0f1004.761"
      ]
    ]
  },
  {
    "id": "4a5bce26.6ee75",
    "type": "openhab2-out",
    "z": "e79f6a59.2fb2c8",
    "name": "",
    "controller": "76a5baaa.2726a4",
    "itemname": "vNotification",
    "topic": "ItemCommand",
    "payload": "",
    "x": 910,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "1c0f1004.761",
    "type": "change",
    "z": "e79f6a59.2fb2c8",
    "name": "Create Message",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload=\"ON\" ? \"Tracy is home\" : \"Tracy left home\"\t ",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "e1d4bc89.b81f5",
    "type": "openhab2-out",
    "z": "e79f6a59.2fb2c8",
    "name": "Mackenzie Home",
    "controller": "76a5baaa.2726a4",
    "itemname": "mackenzie_home",
    "topic": "ItemCommand",
    "payload": "",
    "x": 330,
    "y": 460,
    "wires": [
      [
        "17ff33dd.175f0c"
      ]
    ]
  },
  {
    "id": "17ff33dd.175f0c",
    "type": "change",
    "z": "e79f6a59.2fb2c8",
    "name": "set MackenzieHome",
    "rules": [
      {
        "t": "set",
        "p": "MackenzieHome",
        "pt": "global",
        "to": "payload=\"ON\"",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 460,
    "wires": [
      [
        "4926cf9f.a0f51"
      ]
    ]
  },
  {
    "id": "ad8f1af5.c8c388",
    "type": "openhab2-out",
    "z": "e79f6a59.2fb2c8",
    "name": "",
    "controller": "76a5baaa.2726a4",
    "itemname": "vNotification",
    "topic": "ItemCommand",
    "payload": "",
    "x": 970,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "4926cf9f.a0f51",
    "type": "change",
    "z": "e79f6a59.2fb2c8",
    "name": "Create Message",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload=\"ON\" ? \"Mackenzie is home\" : \"Mackenzie left home\"",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "6ffecfd9.09e19",
    "type": "openhab2-in",
    "z": "e79f6a59.2fb2c8",
    "name": "Tracy Home",
    "controller": "76a5baaa.2726a4",
    "itemname": "tracy_home",
    "x": 250,
    "y": 40,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "2bdff731.c16ae8",
    "type": "openhab2-in",
    "z": "e79f6a59.2fb2c8",
    "name": "Jess Home",
    "controller": "76a5baaa.2726a4",
    "itemname": "jess_home",
    "x": 80,
    "y": 40,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "3b631e9f.71fb82",
    "type": "openhab2-in",
    "z": "e79f6a59.2fb2c8",
    "name": "Mac Home",
    "controller": "76a5baaa.2726a4",
    "itemname": "mackenzie_home",
    "x": 420,
    "y": 40,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "92577a26.8488a8",
    "type": "openhab2-in",
    "z": "e79f6a59.2fb2c8",
    "name": "Jess's Phone Online",
    "controller": "76a5baaa.2726a4",
    "itemname": "Jess_Phone_Online",
    "x": 110,
    "y": 180,
    "wires": [
      [
        "ddbe782b.edbb88"
      ],
      []
    ]
  },
  {
    "id": "7a8d1eca.4a57e",
    "type": "openhab2-in",
    "z": "e79f6a59.2fb2c8",
    "name": "Tracy's Phone Online",
    "controller": "76a5baaa.2726a4",
    "itemname": "Tracy_Phone_Online",
    "x": 120,
    "y": 320,
    "wires": [
      [
        "11e764ca.e2b1fb"
      ],
      []
    ]
  },
  {
    "id": "52f4217.09f56e",
    "type": "openhab2-in",
    "z": "e79f6a59.2fb2c8",
    "name": "Mac's Phone Online",
    "controller": "76a5baaa.2726a4",
    "itemname": "Mackenzie_Phone_Online",
    "x": 110,
    "y": 460,
    "wires": [
      [
        "e1d4bc89.b81f5"
      ],
      []
    ]
  },
  {
    "id": "5bf91864.898348",
    "type": "openhab2-out",
    "z": "e79f6a59.2fb2c8",
    "name": "",
    "controller": "76a5baaa.2726a4",
    "itemname": "vNotification",
    "topic": "ItemCommand",
    "payload": "",
    "x": 910,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "2c155b12.c0db04",
    "type": "change",
    "z": "e79f6a59.2fb2c8",
    "name": "Create Message",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload=\"ON\" ? \"Jess is home\" : \"Jess left home\"\t ",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "699979b9.242b28",
    "type": "inject",
    "z": "e79f6a59.2fb2c8",
    "name": "",
    "topic": "",
    "payload": "Test Notification",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 720,
    "y": 40,
    "wires": [
      [
        "969af6ce.578448"
      ]
    ]
  },
  {
    "id": "969af6ce.578448",
    "type": "openhab2-out",
    "z": "e79f6a59.2fb2c8",
    "name": "",
    "controller": "76a5baaa.2726a4",
    "itemname": "vNotification",
    "topic": "ItemCommand",
    "payload": "",
    "x": 950,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "76a5baaa.2726a4",
    "type": "openhab2-controller",
    "z": "",
    "name": "OpenHaB",
    "protocol": "http",
    "host": "localhost",
    "port": "8080",
    "path": "",
    "username": "",
    "password": ""
  }
]